@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  padding: 0px;
  margin: 0px;
}
.container-1{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container-1 ul {
   position: relative;
   display: flex;
   transform: rotate(-25deg) skew(25deg);
   transform-style: preserve-3d;
}
.container-1 ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}
.container-1 ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
.container-1 ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}
.container-1 ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
.container-1 ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
.container-1 ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
.container-1 ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
.container-1 ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
.container-1 ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
} 
.container-1 ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
.container-1 ul li:nth-child(1):hover span{
  background: #4867aa !important;
}
.container-1 ul li:nth-child(2):hover span{
  background: #1DA1F2 !important;
}
.container-1 ul li:nth-child(3):hover span{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.container-1 ul li:nth-child(4):hover span{
  background: #0072b1  !important;
}